<!-- This is the post_detail page-->
<!-- Templates directory is created manually inside your app directory-->
<!-- Inside templates directory you have to create another directory with the same name as your app, this is Django convention and how it searches for pages-->

<!--To make use of the base template we reference it like this-->
<!--We then wrap everything that is unique inside these block and it is good practice to name these blocks incase you have multiple blocks so you can keep track of them. We named these blocks "content"-->

<!--Use curly braces with % to write code and double curly braces to access variables-->
<!--This is coming from views.py-->

<!--This page has to be named post_detail because it is what Django expects by default-->
<!--We make use of the object key word instead of post. Normally we would use post.author to get the author of a post in our Post model but Django wants us to use object instead of post-->
<!--This page is specifically configured like this because of how we setup our class based view in views.py-->
{% extends "blog/base.html" %} {% block content %}
<article class="media content-section">
  <img
    class="rounded-circle article-img"
    src="{{ object.author.profile.image.url }}"
  />
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="#">{{ object.author }}</a>
      <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
      {% if object.author == user %}
      <div>
        <a
          class="btn btn-secondary btn-sm mt-1 mb-1"
          href="{% url 'post-update' object.id %}"
          >Update</a
        >
        <a
          class="btn btn-danger btn-sm mt-1 mb-1"
          href="{% url 'post-delete' object.id %}"
          >Delete</a
        >
      </div>
      {% endif %}
    </div>
    <h2 class="article-title">{{ object.title }}</h2>
    <p class="article-content">{{ object.content }}</p>
  </div>
</article>
{% endblock content %}
