<!-- This is the register page-->
<!-- Templates directory is created manually inside your app directory-->
<!-- Inside templates directory you have to create another directory with the same name as your app, this is Django convention and how it searches for pages-->
<!--This page extends the base.html page and everything unique in this page goes inside the content block -->

{% extends "blog/base.html" %} {% load crispy_forms_tags %} {% block content %}
<div class="content-section">
  <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Log In</legend>
      {{ form|crispy }}
    </fieldset>
    <div class="form-group">
      <button class="btn btn-outline-info" type="submit">Log In</button>
    </div>
  </form>
  <div class="border-top pt-3">
    <small class="text-muted">
      Need An Account?
      <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
    </small>
  </div>
</div>
{% endblock content %}
